<div class="container">
    <h2>Gestión de Productos</h2>

    <button mat-raised-color="primary" mat-raised-button routerLink="/products/new" style="margin-bottom: 20px;">
        <mat-icon>add</mat-icon> Agregar Producto
    </button>

    <table mat-table [dataSource]="products" class="mat-elevation-z8"> <!-- Tabla de Angular Material -->

        <ng-container matColumnDef="id"> <!-- Columna de ID -->
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name"> <!-- Columna de nombre -->
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price"> <!-- Columna de precio -->
            <th mat-header-cell *matHeaderCellDef> Precio ($) </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="priceUsd"> <!-- Columna de precio en USD -->
            <th mat-header-cell *matHeaderCellDef> Precio (USD) </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="exchangeRate > 0">U$S {{(element.price / exchangeRate) | number:'1.2-2'}}</span>
                <span *ngIf="exchangeRate === 0">Cargando...</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="stock"> <!-- Columna de stock -->
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <ng-container matColumnDef="category"> <!-- Columna de categoría -->
            <th mat-header-cell *matHeaderCellDef> Categoría </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>

        <ng-container matColumnDef="actions"> <!-- Columna de acciones (Botones) -->
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" [routerLink]="['/products/edit', element.id]">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteProduct(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>